# Built application files
*.apk
*.aab

# Gradle
.gradle
build/
local.properties
.gradle/
.idea/

# Signing configs
key.jks
keystore.properties

# Environment variables
local.properties

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Proot bundling
app/src/main/jniLibs/**/*
!app/src/main/jniLibs/.gitkeep

# Kotlin
*.kotlin_module
*.iml

# Misc
/.externalNativeBuild
/.cxx
/cxx/